* {
  margin: 0;
  font-family: 'OpenDyslexic',
}

body {
  margin: 0;
  font-family: 'OpenDyslexic';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'OpenDyslexic';
    font-weight: 900;
    src: local('OpenDyslexic'), url(./OpenDyslexic-Regular.otf) format('opentype');
}
